body {
    background-color: #fffbf7;
    margin: 0;
}

h1 {
    color: #025157;
    font-family: 'Readex Pro', serif;
    font-weight: 600;
    font-size: 72px;
}

h4 {
    color:#46484c;
    font-family: 'Readex Pro', serif;
}

p {
    color: #8b8b8bcc;
    font-family: 'Readex Pro', serif;
}

button {
    background-color: #025157;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    margin-left: 10px;
}

input[type=text] {
    background-color: #3CBC8D;
    color: white;
  }

.header {
    margin: 40px 20px 0;
    font-size: 0%;
    height: 80px;
}

.header li {
    display: inline;
}

.header > * {
    display: inline-block;
    font-size: 16pt;
}

.header .logo {
    width: 20%;
}

.header .navbar {
    width: 60%;
}

.header .actions {
    width: 20%;
}

.header .action button {
    color: #ffffff;
    border-radius: 5;
}

.header ul {
    padding: 0%;
    text-align: center;
}

.header li {
margin: 0 15px;
}

.header form {
    text-align: right;
}

.main {
    margin-top: 150px;
    text-align: center;
}

.main .imgprop {
    width: 100%;
    max-width: 600px;
}