body {
    background-color: #fffbf7;
}

h1 {
    color: #025157;
}

h4 {
    color:#46484c;
}

p {
    color: #8b8b8bcc;
}

button {
    background-color: #025157; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
}
input[type=text] {
    background-color: #3CBC8D;
    color: white;
  }