body {
    background-color: #fffbf7;
    margin: 0;
}

h1 {
    color: #025157;
    font-family: 'Readex Pro', serif;
    font-weight: 600;
    font-size: 72px;
}

h2 {
    color: #025157;
    font-family: 'Readex Pro', serif;
    font-weight: 600;
    font-size: 48px;
}

h4 {
    color:#46484c;
    font-family: 'Readex Pro', serif;
}

p {
    color: #8b8b8bcc;
    font-family: 'Readex Pro', serif;
}

button {
    background-color: #025157;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    margin-left: 10px;
}

input[type=text] {
    background-color: #3CBC8D;
    color: white;
  }

.header {
    margin: 40px 20px 0;
    font-size: 0%;
    height: 80px;
}

.header li {
    display: inline;
}

.header > * {
    display: inline-block;
    font-size: 16pt;
}

.header .logo {
    width: 20%;
}

.header .navbar {
    width: 60%;
}

.header .actions {
    width: 20%;
}

.header .action button {
    color: #ffffff;
    border-radius: 5;
}

.header ul {
    padding: 0%;
    text-align: center;
}

.header li {
margin: 0 15px;
}

.header form {
    text-align: right;
}

.main {
    margin-top: 180px;
    text-align: center;
}

.main .imgprop {
    width: 100%;
    max-width: 600px;
}

.promo {
    display: flex;
    width: 70%;
    margin: 100% auto;
    align-items: center;
}

.explanatory-video {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.explanatory-video img {
    width: 120px;
    flex-direction: column;
}

.fixed header {
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fffbf7;
}

.publish {
    padding: 10px;
    flex: 1;
}

.publish h2 {
    font-family: "Readex Pro", serif;
    font-size: 32px;
    line-height: 48px;
    color: #025157;
    font-weight: 900;
    margin-top: 0;
}

.publish .texto-publish {
    color: #343434;
}

.publish .signup-form input {
    border: 1px solid #b6b6b6;
    padding: 6px 20px;
    width: 60%;
    max-width: 250px;
    height: 75%;
    border-radius: 8px;
}

.publish .signup-form button {
    background-color: #025157;
    color: #fff;
    border: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 6px 20px;
    margin-left: -10px;
    height: 100%;
}

.publish .signup-form {
    height: 55px;
}